<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bob's Burger</title>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Andika+New+Basic&display=swap" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./assets/js/burgers.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
</head>

<body>
    <div class="header">
        <img id="logo" src="./assets/img/bobslogo.jpg">
    </div>
    {{{ body }}}
</body>

</html>