<li>
	{{!--burger name--}}
	<h2>{{burger_name}}</h2>
	{{!-- button to devour or order another (move to Made to Order) --}}
	<button class="devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devour}}Devour your burger!{{else}}Devoured! Order another!{{/if}}
	</button>
</li>
