body {
    background-color: #fcdd60;
    color: black;
    align-items: center;
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
}

#logo {
  width: 80%;
  margin: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.madeToOrder {
  width: 45%;
  margin: 20px;
  padding: 5px;
  float: left;
  background-color: #31343A;
  font-family: 'Amatic SC', cursive;
  color: #fafae0;
}

.alreadyEaten {
  width: 45%;
  margin: 20px;
  padding: 5px;
  float: left;
  background-color: #31343A;
  font-family: 'Amatic SC', cursive;
  color: #fafae0;
}

.addBurger {
  clear: both;
  width: 95%;
  margin: 20px;
  background-color: #31343A;
  font-family: 'Amatic SC', cursive;
  color: #fafae0;
  justify-content: center;
}

h1 {
 font-size: 50px;
}
h2 {
  font-size: 35px;
}
li {
    padding: 5px;
    margin: 5px;
    font-family: 'Amatic SC', cursive;
    color: #fafae0;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  button {
    font-family: 'Andika New Basic', sans-serif;
    margin-bottom: 20px;
  }