body {
    background-color: #fcdd60;
    color: black;
    align-items: center;
    text-align: center;
}

#logo {
  width: 80%;
}

li {
    padding: 5px;
    margin: 5px;
    background: #9ac7e8;
    font-family: Architects Daughter;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  